/*Idk if I need to use this
The tailwind syntax is messy*/
body {
    background-color: #302E28;
}

.logoContainer {
    display: flex;
    padding: 3px;
    flex-direction: column;
    background-color: #302E28;
    text-align: left;
}

button {
    background-color: white;
    padding: 12px;
    margin: 5px;
    width: auto;
    color: #3C3C3C;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
}