.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* style for the header tab buttons */
.nav-button {
  background-color: #80CDBB; /* didnt know what colour to choose so i chose mint */
  color: black;
  border: none;
  padding: 10px 0; 
  width: calc(100% / 3);
  font-size: 16px;
  font-weight: bold; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
  box-sizing: border-box; 
}

.nav-button:hover {
  background-color: #238e75; 
  transform: translateY(-3px); 
}

